[Unit]
Description=My Project
After=syslog.target network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/src/app/run.sh
User=root

[Install]
WantedBy=multi-user.target
